.bannerBox {
  /* background: url('../static/images/emoji_banner_getit_short.png') center right no-repeat #FFC801!important; */
  background-image: url('../static/images/emoji_banner_getit_short.png');
  background-position: center right;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #FFC801;

  padding: 4px 4px;
  padding-left: 4px;

  display: flex;
}

.bannerInside {
  margin-left: 35px;
  max-width: 350px;
  background-color: rgba(255,255,255,.6);
  /* box-shadow: 35px 0 35px rgba(255,255,255,.6),
              -35px 0 35px rgba(255,255,255,.6),
              0 35px 35px rgba(255,255,255,.6),
              0 -35px 35px rgba(255,255,255,.6); */
  box-shadow: 0 0 25px 25px rgba(255,255,255,.6);
}

/* .bannerInside * { */
  /* text-shadow: 0 0 2px white; */
/* } */

.devLinkBox {
  /* width: 300px; */
  /* height: 150px; */
  display: flex;
  justify-content: space-around;
}

/* .devLinkBox a img { */
  /* background-color: white; */
  /* box-shadow: white;   */
/* } */

/* .devLinkBox:first-child img {
  border-radius: 24px;
}

.devLinkBox:last-child img {
  border-radius: 123px;
} */

/* .devLinkBox a img { */
  /* background-color: white; */
  /* border: 2px solid red; */
/* } */

/* .bannerInside > img {
  font-weight: 150%;
} */

.bannerBox button {
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding: 4px 12px 3px;
  font-size: 12px;
  background-color: #369;
  color: #ffffff;
  margin-bottom: 2em;
  border: 1px solid transparent;
  border-radius: 3px;
}

.bannerBox h3 {
  text-align: center;
}