/* html,  */
body {
  /* position: absolute; */
  /* top: 0; */
  margin: 0;
  padding: 0;
  z-index: 1;
  min-height: 100%;
  position: relative;

  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.xsmall {
  font: normal x-small verdana,arial,helvetica,sans-serif;
}

a {
  text-decoration: none;
  color: #369;
}

ul, ol {
  list-style: none;
}

p, .devCardText {
  font-size: 14px;
  overflow: auto;
}

.red, .errorBox {
  color: red;
}

.bigLeftMargin {
  margin-left: 51px;
}

.inputBox {
  width: 500px;
  background-color: #cee3f8;
  border-radius: 4px;
  padding: 5px 10px 10px 10px;
  display: block;
  margin-top: 15px;
  /* margin-bottom: 15px; */
}
.inputBox label {
  font-size: large;
  margin-bottom: 5px;
}

.inputBox .field {
  width: 492px;
  padding: 3px;
  border: 1px solid gray;
}

button {
  margin-left: 5px;
  margin-top: 5px;
}

.sidebar {
  float: right;
  background-color: white;
  margin: 0 5px 0 5px;
  width: 300px;
  /* height: 395px; */
  /* border: 1px solid #369; */
}

.sidebar .sideSpaced {
  margin: 7px 0 12px 0;
}

.searchForm input[type=text] {
  border: 1px solid gray;
  font-size: 13px;
  font-family: verdana;
  width: 300px;
  /* width: auto; */
  box-sizing: border-box;
  padding: 6px;
  padding-right: 25px;
  padding-left: 9px;
  vertical-align: middle;
}
.searchForm button {
  background-color: transparent;
  font-size: 13px;
  height: 13px;
  width: 13px;
  border: none;
  /* margin: 0; */
  margin-left: -13px;
  vertical-align: middle;
  position: relative;
  left: -13px;
  top: -6px;
  /* padding: 2px 6px 3px; */
  cursor: pointer;
}

.devLinkBox {
  /* width: 300px; */
  /* height: 150px; */
  display: flex;
  justify-content: space-around;
}

.devLinkBox a img {
  background-color: white;
}

/* .devLinkBox a:first-child img {
  border-radius: 50%;
} */
/* .devLinkBox a:last-child img { */
.devLinkBox a img {
  border-radius: 8px;
}

.devCard span a {
  color: orangered;
  font-weight: bold;
}

.devCard > a:last-child {
  /* width: 204px; */
  height: 32px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .5px;
  color: white;
  border: 4px solid orangered;
  border-radius: 4px;
  background: orangered;
  margin: 0 auto;
  padding: 2px 25px 3px;
}

.sidebar .postCard {
  /* background-color: #cee3f8; */
  padding: 5px;
  border: 1px solid #5f99cf;
  background-color: #EFF7FF;
  font-family: arial,helvetica,sans-serif;
  font-size: larger;
  border-radius: 3px;
}

.sidebar .devCard {
  padding: 16px 28px 20px;
  background: #1C2A38;
  position: relative;
  text-align: center;
  color: white;
  border: 1px solid white;
  outline: 3px solid #1C2A38;
  width: 236px;
  left: 3px;
  right: 3px;
  /* border: thick double #1C2A38; */
  /* margin: 8px solid #1C2A38; */
  /* box-sizing: border-box; */
}

/* .devCard::before {
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: 3px;
  left: 3px;
  border: 1px solid white;
  display: none;
} */

.sidebar .devCard .logo a {
  color: white;
}
