/* html,  */
body {
  /* position: absolute; */
  /* top: 0; */
  margin: 0;
  padding: 0;
  z-index: 1;
  min-height: 100%;
  position: relative;

  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.xsmall {
  font: normal x-small verdana,arial,helvetica,sans-serif;
}

a {
  text-decoration: none;
  color: #369;
}

ul, ol {
  list-style: none;
}

p {
  font-size: 14px;
  overflow: auto;
}

.red, .errorBox {
  color: red;
}

.bigLeftMargin {
  margin-left: 51px;
}

.inputBox {
  width: 500px;
  background-color: #cee3f8;
  border-radius: 4px;
  padding: 5px 10px 10px 10px;
  display: block;
  margin-top: 15px;
  /* margin-bottom: 15px; */
}
.inputBox label {
  font-size: large;
  margin-bottom: 5px;
}

.inputBox .field {
  width: 492px;
  padding: 3px;
  border: 1px solid gray;
}

button {
  margin-left: 5px;
  margin-top: 5px;
}

.sidebar {
  float: right;
  background-color: white;
  margin: 0 5px 0 5px;
  width: 300px;
  height: 1200px;
  border: 1px solid #369;
}

.sidebar .vspace {
  margin: 7px 0 12px 0;
}