div {
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.rowIndex {
  float: left;
  width: 6.2ex;
  margin-top: 15px;
  color: #c6c6c6;
  font-family: arial;
  font-size: medium;
  text-align: center;
  overflow: hidden;
}

.rowItem {
  overflow: hidden;
  margin-left: 3px;
  opacity: 1;
}

.title {
  font-size: medium;
  font-weight: normal;
  margin-bottom: 1px;
  color: #0000ff;
  outline: none;
  margin-right: 0.4em;
  overflow: hidden;
}

.tagline {
  color: #888;
  font-size: x-small;
}