div {
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.rowIndex {
  float: left;
  width: 6.2ex;
  margin-top: 15px;
  color: #c6c6c6;
  font-family: arial;
  font-size: medium;
  text-align: center;
  overflow: hidden;
}

.rowItem {
  overflow: hidden;
  margin-left: 3px;
  opacity: 1;
}

.title {
  font-size: medium;
  font-weight: normal;
  margin-bottom: 1px;
  color: #0000ff;
  outline: none;
  margin-right: 0.4em;
  overflow: hidden;
}

.tagline {
  color: #888;
  font-size: x-small;
}

.body {
  background-color: #fafafa;
  border: 1px solid #369;
  border-radius: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;

  margin-left: 51px;
}

.body p {
  /* font-size: 1em; */
  line-height: 1.4286em;
  /* font-size: 14px; */
}